*~
*.swp
lectures/*.html
lectures/*.pdf
assignments/*.html
books
metastore_db
spark
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

derby.log
assignments/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
.ipynb_checkpoints/*
datasets

